<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ogami Shop</title>
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="owl.catousel.min.css">
    <link rel="stylesheet" href="elegant-icons.css">
    <link rel="stylesheet" href="slicknav.min.css">
    <link rel="stylesheet" href="jquery-ui.min.css">
    <script src="../controllers/cartController.js"></script>

<body>
{{> header}}

    {{{body}}}
    
{{> footer}}
</body>
</html>